<header>
  <div class="bg-colorid-50">
    <!--bg-gradient-to-b bg-blue-50 via indigo-50 to-blue-100-->
    <div id="overlay">
      <ul class="text-center list-none text-white text-3xl">
        {{ range .Site.Menus.main }}
        <li class="p-2">
          <a href="{{ .URL | safeURL }}">
            <span>{{ .Name }}</span>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
    <nav class="flex items-center justify-between flex-wrap p-1 ml-6">
      <!-- nav class="flex items-center justify-between flex-wrap p-4 bg-cover shadow-white border-b-2 backdrop-contrast-50 shadow-lg"-->

      <div class="flex items-center flex-shrink-0 mr-4">
        <a href="{{ .Site.BaseURL }}"
          ><img
            alt="{{ .Site.Params.logo.alt }}"
            class="{{ .Site.Params.logo.size }} mr-8"
            src="{{ .Site.Params.logo.main | relURL }}"
        /></a>
        <div class="flex mx-auto px-4 justify-center">
          <h1
            class="prose text-3xl font-semibold text-colorid-400 mb-8 mt-10 justify-center"
          >
            {{ .Site.Params.HeroTitle }}
          </h1>
        </div>
      </div>

      <div class="block lg:hidden">
        <div
          id="hamburgerbtn"
          class="flex cursor-pointer items-center w-14 h-10 py-2 rounded mopen"
        >
          <span class="top"></span>
          <span class="middle"></span>
          <span class="bottom"></span>
        </div>
      </div>

      <div
        class="hidden w-full block flex-grow lg:flex lg:items-center lg:w-auto"
        id="mobileMenu"
      >
        <div class="text-lg lg:flex-grow"></div>
        <div class="text-lg">
          {{ range .Site.Menus.main }}
          <a
            href="{{ .URL | safeURL }}"
            class="duration-100 block mt-4 lg:inline-block lg:mt-0 text-colorid-400 text-xl hover:opacity-60 mr-8 prose"
          >
            {{ .Name }}
          </a>
          {{ end }}
        </div>
      </div>
    </nav>
  </div>
  {{- partial "hero.html" . -}}
</header>
