<header>
  <div class="bg-colorid-50 p-2 ml-2 mr-2">
    <!--bg-gradient-to-b bg-blue-50 via indigo-50 to-blue-100-->
    <div id="overlay">
      <ul class="text-center list-none text-white text-3xl">
        {{ range .Site.Menus.main }}
        <li class="p-2">
          <a href="{{ .URL | safeURL }}">
            <span>{{ .Name }}</span>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
    <nav class="flex items-center justify-between">
      <!-- nav class="flex items-center justify-between flex-wrap p-4 bg-cover shadow-white border-b-2 backdrop-contrast-50 shadow-lg"-->

      <div class="flex items-center flex-shrink-0 md:mr-2">
        <a href="{{ .Site.BaseURL }}"
          ><img
            alt="{{ .Site.Params.logo.alt }}"
            class="{{ .Site.Params.logo.size }} md:mr-2"
            src="{{ .Site.Params.logo.main | relURL }}"
        /></a>
      </div>
      <div class="text-center align-center flex-wrap">
        <h1
          class="md:pl-4 justify-center font-semibold text-colorid-400 md:mb-8 md:mt-8 md:text-3xl text-2xl"
        >
          {{ .Site.Params.HeaderTitle }}
          <!--{{ .Site.Params.HeroTitle }}-->
        </h1>
      </div>

      <div class="block lg:hidden">
        <div
          id="hamburgerbtn"
          class="flex cursor-pointer items-center w-14 h-10 py-2 rounded mopen"
        >
          <span class="top"></span>
          <span class="middle"></span>
          <span class="bottom"></span>
        </div>
      </div>

      <div
        class="hidden w-full block flex-grow lg:flex lg:items-center lg:w-auto"
        id="mobileMenu"
      >
        <div class="text-lg lg:flex-grow"></div>
        <div class="text-lg">
          {{ range .Site.Menus.main }}
          <a
            href="{{ .URL | safeURL }}"
            class="duration-100 block mt-4 lg:inline-block lg:mt-0 text-colorid-400 text-xl hover:opacity-60 mr-8 prose"
          >
            {{ .Name }}
          </a>
          {{ end }}
        </div>
      </div>
    </nav>
  </div>
  {{- partial "hero.html" . -}}
</header>
