<section class="bg-bgcolor-300 py-8 px-4 w-full md:max-w-2xl">
    <form class="max-w-lg mx-auto">
      <div class="mb-3">
        <label class="block text-gray-700 font-bold mb-1 p-1" for="name">
          Name
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline p-2"
          id="name"
          type="text"
          placeholder="John Doe"
        />
      </div>
      <div class="mb-3">
        <label class="block text-gray-700 font-bold mb-1 p-1" for="email">
          Email
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline p-2"
          id="email"
          type="email"
          placeholder="johndoe@example.com"
        />
      </div>
      <div class="mb-3">
        <label class="block text-gray-700 font-bold mb-1 p-1" for="message">
          Message
        </label>
        <textarea
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline p-2"
          id="message"
          placeholder="How can we help? Enter your message here"
        ></textarea>
      </div>
      <div class="flex items-center justify-between">
        <button
          class="bg-bgcolor-500 hover:bg-bgcolor-600 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline "
          type="button"
        >
          Send
        </button>
      </div>
    </form>
  </div>
</section>